resources/config.properties
eventstore.iml
.idea/
resources/public/js/main.js
resources/public/js/out/
main.js
figwheel_server.log
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.swp
.idea
eventstore.iml
/bin/
\#project.clj\#
.leinbin/
