html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-color: #ECECEC;
    margin: 0;
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1{
    margin-bottom: 50px;
}

td, th{
    padding: 0 10px;
}

.box{
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: solid #DDD 1px;
}

.box input[type=checkbox]{
    margin-right: 10px;
}

.menu-bar{
    position: fixed;
    left: 0;
    top: 0;
    background: #2B2628;
    color: #fff;
    width: 200px;
    height: 100%;
    text-align: center;
    float: left;
}

.menu-bar a{
    color: #F0C14E;
    font-size: 16px;
}

.menu-item{
    width: 200px;
    height: 60px;
    display: block;
    padding: 15px;
    background: #2B2628;
    border-top: solid #ECECEC;
}

.menu-item:hover{
    background: #443C3F;
}

.input-label{
    font-weight: normal;
    width: 150px;
}

.logo{
    font-family: 'Audiowide', cursive;
    margin-bottom: 50px;
    position: absolute;
    top: 120px;
    left: 37px;
}

.projections{
    width: 90%;
    margin: 0 auto;
}

.new-projection{
    width: 90%;
    margin: 0 auto;
}

.streams{
    width: 90%;
    margin: 0 auto;
}

.new-stream{
    width: 90%;
    margin: 0 auto;
}

.dashboard{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.wide-input{
    width: 500px;
}

.widget-box{
    display: inline-block;
    width: 100%;
    text-align: center;
    min-height: 300px;
    margin: 25px 0;
    background-color: #fafafa;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.widget-box .large-value{
    font-size: 2.5vw;
    display: block;
    padding-top: 50px;
}

.widget-box .title{
    font-size: 26pt;
    display: block;
    margin-bottom: 25px;
}

.widget-box .system-data{
    font-size: 12pt;
}

.system-data .data{
    display: block;
    margin-bottom: 15px;
}

.widget-box .summary{
    font-size: 16pt;
}

.summary .data{
    display: block;
    margin-bottom: 15px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.jumbotron{
    background: #CCCCCC;
    border-radius: 6px;
}

.streams-table{
    width: auto;
}

.view-title{
    text-align: left;
    display: inline-block;
    width: 200px;
}

.active{
    background-color: #464646;
}

.button{
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
    vertical-align: super;
    background: rgba(43, 38, 40, 0.75);
    color: #F0C14E;
    cursor: pointer;
    margin-left: 50px;
}

.button:hover{
    background: rgba(43, 38, 40, 1);
}

#main-area{
    margin-left: 200px;
    padding: 50px;
}

@media screen and (max-width: 768px) {
  #main-area {
    margin-left: 0;
  }
}
